@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    color: #686868;
    font-size: 14px;
    text-decoration: none;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    margin: 30px 40px;
}

Img {
    align-self: center;
}

h1 {
    font-size: 80px;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 80px;
}


.arrow {
    transition: transform .15s;
}

.btn {
    cursor: pointer;
    border-radius: 14px;
    border-style: solid;
    padding: 12px 26px;
}

.btnReg {
    border-color: #686868;
}

#btnLearn {
    background-color: black;
    border-color: black;
    border-radius: 14px;
    border-style: solid;
    color: white;
    cursor: pointer;
    padding: 12px 26px;
}

#btnLearnHover :hover {
    color: black;
    background-color: white;
    transition: .3s;
}

#clients {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 90%;
}

.companyMenu {
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cbcbcb;
    left: 280px;
    padding: 15px;
    position: absolute;
    top: 80px;
    transition: display .15s;

}

.companyMenu li {
    cursor: pointer;
    padding: 5px;
}

.cursor {
    cursor: pointer;
}

.featuresMenu {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cbcbcb;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    height: 160px;
    left: 90px;
    padding: 15px;
    position: absolute;
    top: 80px;
    transition: display .15s;
    width: 153px;
}

.featuresMenu p {
    cursor: pointer;
}

.header_desktop {
    align-items: center;
    display: flex;
    height: 50px;
}

.header_desktop li {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    transition: color .10s;
}

.header_desktop li :hover {
    border-color: black;
    color: black;
    transition: all .3s;
}

.header_desktop ul {
    list-style: none;
}

.header_mobile {
    display: none;
}

.heroDeskImg {
    height: 640px;
    width: 480px;
}

.heroMobileImg {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: space-between;
    justify-items: center;
    margin-right: 100px;
    padding-top: 120px;
    width: 540px;
}

.info p {
    color: #686868;
    font-size: 18px;
    line-height: 150%;
    width: 80%;
}

.login {
    margin-left: auto;
}

#navMobile{
    display: none;
}