@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #686868;
}

body {
    margin: 30px 40px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
}


.header_desktop li{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    transition: color .10s;
}

.header_desktop li :hover{
    border-color: black;
    color: black;
    transition: all .3s;
}
main {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.header_desktop ul {
    list-style: none;
}

main {
    display: flex;
    padding: 10px 80px;
}

img {
    align-self: center;
}
.arrow {
    transition: transform .15s;
}

.btn {
    border-style: solid;
    padding: 12px 26px;
    border-radius: 14px;
    cursor:pointer;
}
.btnReg {
    border-color: #686868;
}
#btnLearn {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
    padding: 12px 26px;
    border-radius: 14px;
    cursor:pointer;
}

#btnLearnHover :hover {
    background-color: white;
    color: black;
    transition: .3s;
}

.client {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.cursor {
    cursor: pointer;
}
.featuresMenu{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 153px;
    height: 160px;
    border-radius: 10px;
    align-items: center;
    padding: 15px;
    box-shadow: 5px 5px 10px #cbcbcb;
    position: absolute;
    top: 80px;
    left: 90px;
    background-color: white;
    transition: opacity .15s;
    
}

.companyMenu {
    position: absolute;
    left: 300px;
    top: 80px;
    box-shadow: 5px 5px 10px #cbcbcb;
    border-radius: 10px;
    align-items: center;
    padding: 15px;
}
.companyMenu ul {
    list-style: none;
    text-decoration: none;
}


.header_desktop {
    display: flex;
    align-items: center;
    height: 50px;
}
.heroDeskImg {
    width: 480px;
    height: 640px;
}
.info {
    width: 540px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    justify-items:center;
    margin-right: 100px;
    padding-top: 120px;
}

.login {
    margin-left: auto;
}



