@media (max-width: 376px) {
    body {
        margin: 0;
        overflow-x: hidden;
    }

    #body {
        position: absolute;
        background: linear-gradient(rgba(5, 7, 15, 0.75), rgba(5, 7, 15, 0.75));
        width: 100%;
        height: 100vh;
        margin: 0;
        top: 0;
        display: none;
    }

    main {
        display: block;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .arrow {
        transition: transform .2s;
    }

    #btnClose {
        cursor: pointer;
        float: right;
        margin: 15px;
    }

    #btnLearnHover {
        margin-top: 25px;
    }

    .client {
        width: 4rem;
    }

    #clients {
        width: 100%;
    }

    #companyMenuMobile {
        margin-left: 12px;
        height: 0;
        overflow: hidden;
        margin-left: 20px;
        transition-duration: .4s;

    }

    #featuresMenuMobile li {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        margin-left: 20px;
    }

    #featuresMenuMobile {
        height: 0px;
        overflow: hidden;
        transition-property: height;
        transition-duration: .4s;
    }

    .heroDeskImg {
        display: none;
    }

    .header_desktop {
        display: none;
    }

    .header_mobile {
        display: flex;
        margin: 20px;
    }

    .heroMobileImg {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 35px;
    }

    .info {
        justify-content: space-between;
        margin: 50px 0 0 0;
        padding: 0 20px;
        width: auto;
        height: 270px;
        text-align: center;
    }

    .info p {
        font-size: 16px;
        width: auto;
    }

    #menuNav {
        display: flex;
        flex-direction: column;
    }

    #menu {
        width: 100%;
        margin-top: 70px;
        padding: 0 10px;
    }

    #menu * {
        color: #686868;
        font-size: 16px;
    }

    #navMobile {
        overflow: hidden;
        display: block;
        position: absolute;
        background-color: white;
        height: 100vh;
        right: 0;
        top: 0;
        width: 66%;
        transform: translate(100%);
        transition: transform .5s;
    }

    .pad {
        padding: 15px;
    }

    #register {
        border-style: solid;
        border-color: #686868;
        border-width: 2px;
        border-radius: 0.8rem;
        margin-top: 15px;
        padding: 12px 0;
    }

    .rotate .arrow {
        transform: rotate(180deg);
    }


    #user {
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
        margin: 0 8px;
    }

    #user li {
        cursor: pointer;
    }
}