@media (max-width: 376px) {
    body {
        margin: 0;
    }

    #body {
        position: absolute;
        background: linear-gradient(rgba(5, 7, 15, 0.75), rgba(5, 7, 15, 0.75));
        width: 100%;
        height: 100vh;
        margin: 0;
        top: 0;
        display: none;
    }

    main {
        display: block;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .client {
        width: 4rem;
    }

    #btnClose {
        cursor: pointer;
        float: inline-end;
        margin: 15px;
    }

    #btnLearnHover {
        margin-top: 25px;
    }

    #clients {
        width: 100%;
    }

    #companyMenuMobile {
        margin-left: 12px;
    }


    #featuresMenuMobile li {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        margin-left: 12px;
    }

    #featuresMenuMobile {
        display: flex;
        flex-direction: column;
    }

    .heroDeskImg {
        display: none;
    }

    .header_desktop {
        display: none;
    }

    .header_mobile {
        display: flex;
        margin: 20px;
    }

    .heroMobileImg {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 35px;
    }

    .info {
        justify-content: space-between;
        margin: 50px 0 0 0;
        padding: 0 20px;
        width: auto;
        height: 270px;
        text-align: center;
    }

    .info p {
        font-size: 16px;
        width: auto;
    }

    #menuNav {
        display: flex;
        flex-direction: column;
    }

    #menu {
        width: 100%;
        margin-top: 70px;
    }

    #menu * {
        color: #686868;
        font-size: 16px;
    }

    #menu ul {
        padding: 11px;
    }

    #menu li {
        padding: 11px;
    }

    #navMobile {
        display: none;
        position: absolute;
        background-color: white;
        height: 100vh;
        right: 0;
        top: 0;
        width: 66%;
    }

    #register {
        border-style: solid;
        border-color: #686868;
        border-width: 2px;
        border-radius: 0.8rem;
        margin-top: 15px;
    }

    #user {
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
        margin: 0 8px;
    }

    #user li {
        cursor: pointer;
    }

}